{% extends 'base.html' %}

{% block content %}
    <div class="categories">
        <h2>Categorias</h2>
        <ul>
            {% for categoria in categorias %}
                <li>
                    <a href="{% url 'news:category_detail' categoria.id %}" class="linkcat">
                        <div class="categorieslist">
                            <h1>{{ categoria.nome }}</h1>
                            <p>{{ categoria.descricao }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
