{% extends 'base.html' %} 
{% load static %}
{% block title %}
  {{ post.titulo }} ({{post.data_postagem }})
{% endblock title %}
{% block content %}
<div class="detailcontainer">
    <div class="imgdetail">  
        <img src="{{ post.img_url }}"/>
    </div> 
    <div class="textdetail">
        <h2>{{ post.titulo }}
            {% if perms.news.add_post %}
            <div class="botoesdetail">
                <a href="{% url 'news:update' post.id %}"><img src="{% static 'Edit.png' %}" class="editdetail"></a> 
                <a href="{% url 'news:delete' post.id %}"><img src="{% static 'Icon.png' %}" class="deletedetail"></a>
            </div>
            {% endif%}
        </h2>
        <div class="catdet">
            <h1>Categorias:</h1>
            {% for categoria in post.categorias.all %}
                <a href="{% url 'news:category_detail' categoria.id %}">{{ categoria.nome }}</a>
            {% endfor %}
        </div>
        <p>{{ post.data_postagem|date}}</p>
    </div> 
    <div class="conteudo-inserido">
        {{ post.conteudo|safe }}
    </div>

    <div class="comentarios">
        <header>
            <h3>Comentários <a href="{% url 'news:create_comment' post.id %}"><img src="{% static 'Edit.png' %}" class="editcoment"></a></h3>
        </header>
        <ul>
            {% if post.comment_set.all %}
                {% for comment in post.comment_set.all %}
                    <figure>
                        <div class="singlecomment">
                            <div class="singlecommentauthor">
                                <p class="commentauthor">{{ comment.autor }}</p>
                                <p class="commenttime">({{ comment.data_postagem }})</p>
                            </div>
                                <p class="commentcontent">{{ comment.texto }}</p>
                        </div>
                    </figure>
                {% endfor %}
            {% else %}
                <p class="nocomment">Ainda não existem comentários.</p>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}