{% extends 'base.html' %} 
{% load static %}
{% block title %}
  {{ post.titulo }} ({{post.data_postagem }})
{% endblock title %}
{% block content %}
<div class="detailcontainer">
    <section class="dados-de-filme">
    <div class="imgdetail">  
        <img src="{{ post.img_url }}"/>
    </div> 
    <div class="textdetail">
        <h2>{{ post.titulo }}
            {% if perms.news.add_post %}
            <div class="botoesdetail">
                <a href="{% url 'news:update' post.id %}"><img src="{% static 'Edit.png' %}" class="editdetail"></a> 
                <a href="{% url 'news:delete' post.id %}"><img src="{% static 'Icon.png' %}" class="deletedetail"></a>
            </div>
            {% endif%}
        </h2>
        <p>{{ post.data_postagem|date}}</p>
    </div> 
    <div class="conteudo-inserido">
        {{ post.conteudo|safe }}
    </div>
    </section>
</div>
{% endblock content %}