{% extends 'base.html' %}
{% block content %}
    {% if categoria %}
        <div class="catindex">
            <h2>Posts na Categoria: {{ categoria.nome }}</h2>
        </div>
    {% endif %}

    {% if post_list %}
        <section class="lista-de-cards">
            {% for post in post_list %}
            <article class="articlenews">
                <a href="{% url 'news:detail' post.id %}">
                    <div class="news">
                        <div class="newsimg"> 
                            <img src="{{ post.img_url }}" alt="{{ post.titulo }}">
                        </div>
                        <div class="newstext">
                            <p>{{ post.titulo }}</p>
                            <p class="dataindex">{{ post.data_postagem|date }}</p>
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
    {% else %}
        <div class="nopub">
            <p>Nenhuma publicação foi encontrada.</p>
        </div>
    {% endif %}
{% endblock content %}

